.leer-documento-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  padding: 48px 84px 0px;
  height: fit-content;
  position: relative;
}

