.carga-masiva-4 {
  align-items: center;
  background-color: var(--white-2);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  justify-content: center;
  min-width: 1440px;
  position: relative;
}

#overlay-carga-masiva-4 {
  align-items: center;
  background-color: #ffffffe5;
  justify-content: center;
}

